body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Overlook SC',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('/public/icons8-cursor-55.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@font-face {
  font-family: "Overlock SC";
  src: url("/public/fonts/OverlockSC-Regular.ttf") format("truetype");
}

.simulation-font {
  font-family: "Overlock SC", sans-serif;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  background: linear-gradient(to right, #f2994a, #f2c94c);
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}